* {
  box-sizing: border-box;
}

/*===================================
Background
===================================*/

.background {
  background: url(images/Portfolio-front-page.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 75%;
  margin-top: 9em;
  margin-left: 13em;
}

.container h1 {
  font-size: 5em;
  padding-bottom: -20px;
  margin-bottom: -10px;
  font-family: 'Rubik One', sans-serif;
}

.container p {
  font-size: 2.5em;
  padding-top: -20px;
  margin-top:-10px;
  font-family: 'Titillium Web', sans-serif;
  line-height: 90%;
}

.container h2 {
  font-family: 'Titillium Web', sans-serif;
  border: solid 2px black;
  display: inline-block;
  padding: 20px;
  margin-top: -20px;
}
