* {
  box-sizing: border-box;
}

/*===================================
Front Page
===================================*/

.background {
  background: url(images/Portfolio-front-page-grad2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  color: white;
  width: 75%;
  margin-top: 9em;
  margin-left: 13em;
}

.container h1 {
  font-size: 5em;
  padding-bottom: -20px;
  margin-bottom: -5px;
  font-family: 'Archivo Black', sans-serif;
}

.container p {
  font-size: 2.5em;
  padding-top: -20px;
  margin-top:-5px;
  font-family: 'Titillium Web', sans-serif;
  line-height: 110%;
}

.container h2 {
  font-family: 'Titillium Web', sans-serif;
  border: solid 1.5px white;
  display: inline-block;
  padding: 15px 20px 15px 20px;
  margin-top: -20px;
  font-size: 1.3em;
}

.container h2 a {
  text-decoration: none;
  list-style: none;
  color: white;
  padding: 20px;
}

.container h2:hover {
  color: black;
  background-color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.container h2 a:hover {
  text-decoration: none;
  list-style: none;
  color: black;
  padding: 20px;
}

/*===================================
Home
===================================*/

.quote p {
  font-size: 800%;
  text-align: center;
  padding: 5%;
  font-family: 'Titillium Web', sans-serif;
}

.quote {
  height: 100vh;
  margin: 0 auto;
  background-color: black;
  color: white;
}

.main-wrapper {
  width: 75%;
  margin: 0 auto;
}

.intro {
  display: inline-block;
  background-color: white;
  color: #474747;
  margin-top: 50px;
  padding: 40px;
  width: 50%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
  text-align: center;
  border: solid 1px black;
}

.intro p {
  line-height: 105%;
}

.intro h2 {
  margin-bottom: -20px;
}

/*img {
  display: inline-block;
  float: right;
  padding-top: 100px;
}*/

.content {
  text-align: center;
  display: block;
  height: 100vh;
}

/*===================================
Social Buttons
===================================*/

.social ul {
    list-style-type: none;
    overflow: hidden;
    padd
}

.social li {
  text-align: center;
  display: inline-block;
}
}

.social a {
  display:block;
  text-align:center;
  text-decoration:none;
  padding: 0 20px 0 20px;
  margin: 10px;
}


.social img {
  height: 12%;
  width: auto;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  padding: 10px 20px 10px 20px;
}

.social li:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3), rotate(5deg);
}

/*===================================
Link Buttons
===================================*/

.pageLinks {
  height: 100vh;
  vertical-align: middle;
  text-align: center;
  background-color: #FFFFFF;
  padding-top: 15%;
}

.buttons {
  position: relative;
}

.buttons ul {
    list-style-type: none;
    overflow: hidden;
}

.buttons li {
  text-align: center;
  display: inline-block;
}

.buttons a {
  display:block;
  text-align:center;
  text-decoration:none;
  padding: 0 10px 0 10px;
  margin: 10px;
}


.buttons img {
  height: 40%;
  width: auto;
  padding: 0 10px 0 10px;
}

.buttons img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.buttons li:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
  transform: scale(1.1);
}

/*===================================
Hamburger
===================================*/
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 33px;
  left: 10px;
  right: 10px;
  height: 4px;
  background: black;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: -20px;
}

.c-hamburger--htx {
  background-color: white;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #cb0032;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}


/*===================================
Hamburger2
===================================*/

/*===================================
Header
===================================*/
.content {
  height: 100vh;
}

header {
  display: block;
  margin-bottom: -20px;
  padding-top: 100px;
  float: right;
}

/*header h1 {
  display: inline-block;
  font-family: 'Archivo Black', sans-serif;
  font-size: 5em;
  margin-bottom: -400px;
  padding: 0 30px 0 30px;
}
*/

header ul,
header li {
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
  margin-bottom: -10px;
  padding-left: 10px;
}

header a {
  text-decoration: none;
  list-style: none;
  color: black;
}

header a:hover {
  color: grey;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.ding {
  display: inline-block;
  width: 50%;
  margin-top: 100px;
}

.hire {
  color: red;
}

/*===================================
Footer
===================================*/

.foot {
  display: inline-block;
  position:absolute;
bottom:0;

}



/*===================================
Media Queries
===================================*/
/* Landscape phones and down */
@media (max-width: 480px) {

  /*=======Front Page =========*/
    .container {
      color: white;
      width: 100%;
      margin-top: 9em;
      margin-left: 6em;
    }

    .container h1 {
      margin-bottom: -5px;
    }

    .container h2 {
      margin-top: -5px;
    }

    /*=======Home Page=========*/

    header ul,
    header li,
    header h1 {
      display: block;
      text-align: center;
      margin-bottom: -5px;
    }

   }

   /*===

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

/*=======Home Page=========*/

  header ul,
  header li,
  header h1 {
    display: block;
    text-align: center;
    margin-bottom: -5px;
  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  /*=======Home Page=========*/

    header ul,
    header li,
    header h1 {
      display: block;
      text-align: center;
      margin-bottom: -5px;
    }

 }

/* Large desktop */
@media (min-width: 1200px) { ... }
